body {
  margin-top: 20px;
  background-color: #ffffff;
  font-family: "Lucida Grande", "Lucida Sans", "Helvetica", "Arial", sans-serif; 
  color: #000000;
  font-size: 14px;
}

h1 {
  font-size: 48px;
  margin-bottom: 8px;
}

h1 .small {
  font-size: 16px;
}

h1 a {
  text-decoration: none
}

h2 {
  font-size: 24px;
}

h3 {
  text-align: center;
}

a {
  color: #000000;
}

.description {
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-style: italic;
}

pre { 
  background: #000;
  color: #fff;
  padding: 15px;
}

hr {
  border: 0;
  width: 80%;
  border-bottom: 1px solid #aaa
}

#container {
  margin: 0 auto;
  width: 700px;
}

.download {
  float: right;
}

.download li {
  float: right;
  width: 90px;
  text-align: center;
  list-style-type: none;
}

.download a {
  text-decoration: none;
}

.download img {
  width: 90px;
}

.fork {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.footer {
  text-align:center;
  padding: 30px 0 12px 0;
}
